@model WorkshopsGov.Models.Inspection

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="inspections-app"></div>

@section Scripts {
<vite-script entry="inspections" dev-server="http://localhost:5173"></vite-script>
<vite-style entry="inspections"></vite-style>
}

<nav aria-label="breadcrumb" class="mb-3">
    <ol class="breadcrumb mb-0">
        <li class="breadcrumb-item">
            <a asp-action="Index">Inspecciones</a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">Agregar nueva inspección</li>
    </ol>
</nav>

<div class="row">
    <div class="col-sm-12 col-lg-12">
        <div class="card">
            <div class="card-body">

                <h1>Detailss</h1>

                <div>
                    <h4>Inspection</h4>
                    <hr />
                    <dl class="row">
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.MemoNumber)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.MemoNumber)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.InspectionDate)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.InspectionDate)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.CheckInTime)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.CheckInTime)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.OperatorName)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.OperatorName)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.ApplicationUser)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.ApplicationUser.Id)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.InspectionService)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.InspectionService.Name)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.Vehicle)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.Vehicle.Description)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.Department)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.Department.Name)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.ExternalWorkshopBranch)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.ExternalWorkshopBranch.Name)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.DistanceUnit)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.DistanceUnit)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.DistanceValue)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.DistanceValue)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.FuelLevel)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.FuelLevel)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.FailureReport)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.FailureReport)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.VehicleFailureObservation)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.VehicleFailureObservation)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.TowRequired)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.TowRequired)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.InspectionStatus)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.InspectionStatus.Name)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.Diagnostic)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.Diagnostic)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.Active)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.Active)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.CreatedAt)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.CreatedAt)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.UpdatedAt)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.UpdatedAt)
                        </dd>
                    </dl>
                </div>
                <div>
                    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
                    <a asp-action="Index">Back to List</a>
                </div>
            </div>
        </div>
    </div>
</div>