@model IEnumerable<WorkshopsGov.Models.Inspection>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card">
    <div class="card-header d-flex justify-content-between align-items-center">
        <div class="header-title">
            <h4 class="card-title">Inspecciones</h4>
        </div>
        <a asp-action="Create" class="btn btn-primary">Agregar</a>
    </div>
    <div class="card-body p-0">
        <div class="table-responsive mt-4">
            <table class="table table-striped mb-0">
                <thead>
                    <tr>
                        <th>
                            Memo
                        </th>
                        <th>
                            Unidad
                        </th>
                        <th>
                            Departamento
                        </th>
                        <th>
                            Taller Externo
                        </th>
                        <th>
                            Estado
                        </th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.MemoNumber)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Vehicle.Oficialia)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Department.Name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.ExternalWorkshopBranch.Name)
                            </td>
                            <td>
                                @{
                                    var statusId = item.InspectionStatusId;
                                    var statusClass = "badge text-bg-secondary"; // Default gray
                                    var fontSize = "fw-bold fs-6";

                                    if (statusId == 2)
                                    {
                                        statusClass = "badge text-bg-success"; // Puedes elegir otro color si quieres
                                        fontSize = "fw-bold fs-6"; // Letra más grande y negrita
                                    }
                                }
                                <span class="@statusClass @fontSize">@item.InspectionStatus.Name</span>
                            </td>
                            <td>
                                <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-info">
                                    Detalles
                                </a>
                                <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-primary btn-icon btn-sm rounded-pill ms-2"><i class="bi bi-pencil-square"></i></a>
                                <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger btn-icon btn-sm rounded-pill ms-2"><i class="bi bi-trash-fill"></i></a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
