@model IEnumerable<WorkshopsGov.Models.Inspection>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card">
    <div class="card-header d-flex justify-content-between align-items-center">
        <div class="header-title">
            <h4 class="card-title">Inspecciones</h4>
        </div>
        <a asp-action="Create" class="btn btn-primary">Agregar</a>
    </div>
    <div class="card-body p-0">
        <div class="table-responsive mt-4">
            <table class="table table-striped mb-0">
                <thead>
                    <tr>
                        <th>
                            Memo
                        </th>
                        <th>
                            Unidad
                        </th>
                        <th>
                            Departamento
                        </th>
                        <th>
                            Taller Externo
                        </th>
                        <th>
                            Estado
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.MemoNumber)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Vehicle.Oficialia)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Department.Name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.ExternalWorkshopBranch.Name)
                            </td>
                           
                            <td>
                                <span class="badge text-bg-secondary">@Html.DisplayFor(modelItem => item.InspectionStatus.Name)</span>
                            </td>
                            <td>
                                <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-info">
                                    Detalles
                                </a>
                                <a asp-action="Edit" asp-route-id="@item.Id"><i class="bi bi-pencil-square"></i></a> |
                                <a asp-action="Delete" asp-route-id="@item.Id"><i class="bi bi-trash-fill"></i></a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
