@model IEnumerable<WorkshopsGov.Models.Inspection>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card">
    <div class="card-header d-flex justify-content-between align-items-center">
        <div class="header-title">
            <h4 class="card-title">Inspecciones</h4>
        </div>
        <a asp-action="Create" class="btn btn-primary">Agregar</a>
    </div>
    <div class="card-body p-0">
        <div class="table-responsive mt-4">
            <table class="table table-striped mb-0">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.MemoNumber)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.InspectionDate)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.CheckInTime)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.OperatorName)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.ApplicationUser)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.InspectionService)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Vehicle)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Department)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.ExternalWorkshopBranch)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.DistanceUnit)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.DistanceValue)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.FuelLevel)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.FailureReport)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.VehicleFailureObservation)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.TowRequired)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.InspectionStatus)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Diagnostic)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Active)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.CreatedAt)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.UpdatedAt)
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.MemoNumber)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.InspectionDate)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.CheckInTime)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.OperatorName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.ApplicationUser.Id)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.InspectionService.Name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Vehicle.Description)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Department.Name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.ExternalWorkshopBranch.Name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.DistanceUnit)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.DistanceValue)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.FuelLevel)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.FailureReport)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.VehicleFailureObservation)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.TowRequired)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.InspectionStatus.Name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Diagnostic)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Active)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.CreatedAt)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.UpdatedAt)
                            </td>
                            <td>
                                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
